<p id="notice"><%= notice %></p>

<h1>Listing Farmlogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmlogs.each do |farmlog| %>
      <tr>
        <td><%= farmlog.title %></td>
        <td><%= farmlog.user %></td>
        <td><%= farmlog.img %></td>
        <td><%= link_to 'Show', farmlog %></td>
        <td><%= link_to 'Edit', edit_farmlog_path(farmlog) %></td>
        <td><%= link_to 'Destroy', farmlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farmlog', new_farmlog_path %>
