<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @farmlog.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @farmlog.user %>
</p>

<p>
  <strong>Img:</strong>
  <%= @farmlog.img %>
</p>

<%= link_to 'Edit', edit_farmlog_path(@farmlog) %> |
<%= link_to 'Back', farmlogs_path %>
